<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" android:required="false"
        tools:ignore="ScopedStorage" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Explore The World!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travelplannerapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Hotel_Detail_Activity"
            android:exported="false" />
        <activity
            android:name=".trips_planned"
            android:exported="false"
            android:theme="@style/Theme.Travelplannerapp" />
        <activity
            android:name=".plan_trip"
            android:exported="false"
            android:theme="@style/Theme.Travelplannerapp" />
        <activity
            android:name=".activity_profile"
            android:exported="false"
            android:theme="@style/Theme.Travelplannerapp" />

        <activity
            android:name=".PlaceDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Travelplannerapp" />
        <activity
            android:name=".phone_recovery"
            android:exported="false" />
        <activity
            android:name=".forget_password"
            android:exported="false" />
        <activity
            android:name=".organizermain"
            android:exported="false" />
        <activity
            android:name=".usermain"
            android:exported="false" />
        <activity
            android:name=".activity_choose_role"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".onboarding1"
            android:exported="false"
            android:theme="@style/Theme.Travelplannerapp" />
        <activity
            android:name=".onboaring2"
            android:exported="false"
            android:theme="@style/Theme.Travelplannerapp" />
        <activity
            android:name=".onboarding3"
            android:exported="false"
            android:theme="@style/Theme.Travelplannerapp" />
        <activity
            android:name=".splashscreen"
            android:exported="true"
            android:theme="@style/Theme.Travelplannerapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".signup_activity"
            android:exported="true" />
    </application>

</manifest>